/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

@media only screen and (max-width: 768px){
    body {
        display: block;
    }
    .player-content {
        width: 100%;
        height: calc(100vh - 282px);
        max-height: 100vh;
    }
    .player-content_track-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .player-content_track-album {
        height: auto;
        margin: 0px auto 0;
    }
    .player-content_Songs-name {
        font-size: 30px;
    }
    .player-content_author {
        font-size: 25px;
        margin-top: 25px;
    }
    .player-footer {
        height: 200px;
        display: flex;
    }
    .player-footer_content {
        padding: 0 63px 0 63px;
        display: flex;
        flex-direction: row;
        margin: auto 0;
        width: 100%;
    }
    .button_next, 
    .button_prev {
        font-size: 50px;
        color: white;
        width: 80px;
        height: 60px;
    }
    .player-footer_buttons-control>:nth-child(2) {
        margin: 0 50px;
        font-size: 60px;
        width: 80px;
        height: 60px;
    }
    .player-footer_buttons-optional {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 0 30px;
    }
    .progress-bar {
        display: none;
    }
    .button_circle, .button_mute, .button_random, .button_share {
        width: 60px;
        height: 60px;
        color: #3e4a43;
        font-size: 43px;
        position: relative;
        padding: 0;
    }
    .player {
        width: 100%;
        height: 100vh;
    }
    .player-content_item {
        display: flex;
        flex-direction: row;
        padding: 18px 30px 18px 13px;
        align-items: center;
        cursor: pointer;
        font-size: 30px;
    }
    .player-content_playlist-song-name {
        width: 445px;
        text-align: left;
        margin-left: 10px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}