/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

@media only screen and (max-width: 768px){
    .player-content {
        width: 100%;
        height: calc(100vh - 282px);
        max-height: 100vh;
    }
    .player-content_track-info {
        display: none;
    }
    .player-footer {
        height: 200px;
        display: flex;
    }
    .player-footer_content {
        padding: 0 63px 0 63px;
        display: flex;
        flex-direction: row;
        margin: auto 0;
        width: 100%;
    }
    .player-content_playlist {
        min-width: 100%;
    }
    .player-footer_buttons-optional {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 0 30px;
    }
    .button_circle, .button_mute, .button_random, .button_share {
        width: 60px;
        height: 60px;
        color: #3e4a43;
        font-size: 43px;
        position: relative;
        padding: 0;
    }
    .player {
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;

    }
    .player-content_item {
        display: flex;
        flex-direction: row;
        padding: 18px 30px 18px 13px;
        align-items: center;
        cursor: pointer;
        font-size: 30px;
    }
    .player-content_playlist-song-name {
        width: 445px;
        text-align: left;
        margin-left: 10px;
    }
    .player-footer_content {
        padding: 0 16px 0 16px;
        display: flex;
        flex-direction: row;
        margin: auto 0;
        width: 100%;
    }
    .button_next, 
    .button_prev {
        font-size: 30px;
        color: white;
        width: 52px;
        height: 60px;
    }
    .player-footer_buttons-control>:nth-child(2) {
        margin: 0 10px;
        font-size: 45px;
        width: 80px;
        height: 60px;
    }
    .progress-bar {
        display: none;
    }
    button.button_mute {
        display: none;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .player-footer_content {
        flex-direction: column;
    }
    .player-footer_buttons-control {
        justify-content: center;
        margin-bottom: 31px;
    }
    .player-footer_buttons-optional {

        margin: 0; 
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}